# host_vars/localhost.yml

ansible_ssh_private_key_file: ~/.ssh/ansible_rsa

ssh_tunnel_service_name: "ssh-tunnel-kepler-exporter"
ssh_tunnel_user: "root"
ssh_tunnel_vm: "my-vm"
local_port: 9999
remote_port: 8888
ssh_key_path: "/tmp/vm_ssh_key"
systemd_service_path: "/etc/systemd/system/{{ ssh_tunnel_service_name }}.service"
stress_iterations: 4
model_server_repo: "https://github.com/KaiyiLiu1234/kepler-model-server-features.git"
kepler_repo: "https://github.com/sustainable-computing-io/kepler.git"
model_server_path: "/opt/kepler-model-server-features"
kepler_path: "/opt/kepler"
data_path: "/opt/data"
model_path: "{{ data_path }}/models"
model_export_path: "/refined-models"
benchmark: "Equinix_Models"
collect_id: "workflow_run"
prom_url: "http://localhost:9090"
pipeline_name: "Equinix_Pipeline"
stress_test_script_path: "/opt/kepler/e2e/tools/validator/scripts/stressor.sh"
