[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
ExecStart={{ node_exporter_bin_dir }}/node_exporter --collector.disable-defaults --collector.cpu --collector.cpufreq --collector.perf --collector.meminfo --collector.rapl
Restart=on-failure

[Install]
WantedBy=multi-user.target
