#cloud-config
ssh_pwauth: true

ssh_genkeytypes: ['rsa', 'ecdsa']

bootcmd:
  - sudo mkdir -p ~{{ vm_user }}/.ssh
  - sudo echo "{{ vm_ssh_public_key }}" >> ~{{ vm_user }}/.ssh/authorized_keys
  - sudo chown -R {{ vm_user }}:{{ vm_user }} ~{{ vm_user }}/.ssh
  - sudo chmod 700 ~{{ vm_user }}/.ssh
  - sudo chmod 600 ~{{ vm_user }}/.ssh/authorized_keys

runcmd:
  - sudo yum -y remove cloud-init
  - sudo mkdir -p ~{{ vm_user }}/.ssh
  - sudo echo "{{ vm_ssh_public_key }}" >> ~{{ vm_user }}/.ssh/authorized_keys
  - sudo chown -R {{ vm_user }}:{{ vm_user }} ~{{ vm_user }}/.ssh
  - sudo chmod 700 ~{{ vm_user }}/.ssh
  - sudo chmod 600 ~{{ vm_user }}/.ssh/authorized_keys
  - sudo cat ~{{ vm_user }}/.ssh/authorized_keys
  - sudo dnf -y install ansible-core rhel-system-roles
  - sudo ansible-config init --disabled |
    sed "s/;host_key_checking=True/host_key_checking=False/g" |
    sed "s/;private_key_file=/private_key_file=~\/.ssh\/ansible_rsa/g" |
    sed 's|;roles_path={{ '{{' }} ANSIBLE_HOME ~ "/roles:/usr/share/ansible/roles:/etc/ansible/roles" {{ '}}' }}|roles_path={{ '{{' }} ANSIBLE_HOME ~ "/roles:/usr/share/ansible/roles:/etc/ansible/roles;/root/.ansible/collections/ansible_collections/community/libvirt/roles" {{ '}}' }}|' > /etc/ansible/ansible.cfg
  - sudo ansible-galaxy collection install prometheus.prometheus
  - sudo ssh-keygen -t rsa -b 4096 -f /root/.ssh/ansible_rsa -N ''
  - sudo cat ~/.ssh/ansible_rsa.pub >> ~/.ssh/authorized_keys
  - sudo echo "StrictHostKeyChecking no" >> ~/.ssh/config
  - sudo echo "PermitRootLogin yes" >> /etc/ssh/sshd_config
  - sudo systemctl restart sshd
