<domain type='kvm'>
  <name>{{ vm_name }}</name>
  <memory unit='MiB'>{{ memory_size }}</memory>
  <vcpu>{{ vcpu_count }}</vcpu>
  <cpu mode='host-passthrough'>
  </cpu>
  <cputune>
    {% for i in range(vcpu_count) %}
    <vcpupin vcpu='{{ i }}' cpuset='{{ cpu_pinning[i] }}'/>
    {% endfor %}
  </cputune>
  <os>
    <type arch='x86_64' machine='pc'>hvm</type>
    <boot dev='hd'/>
    <!-- If using UEFI, add loader -->
    <!-- <loader readonly='yes' type='pflash'>/usr/share/OVMF/OVMF_CODE.fd</loader> -->
  </os>
  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ vm_disk_path }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <interface type='network'>
      <source network='default'/>
      <model type='virtio'/>
    </interface>
    <console type='file'>
      <target type='serial' port='0'/>
      <source path='/var/log/vm_console.log'/>
    </console>
  </devices>
</domain>

