all:
  children:
    servers:
      hosts:
        localhost:
        my-vm:
    kvm_hosts:
      hosts:
        localhost:
    metrics_monitor:
      hosts:
        localhost:
        my-vm:
    prometheus_server:
      hosts:
        localhost:
        my-vm:
    ssh_tunnel_server:
      hosts:
        localhost:
    model_server:
      hosts:
        my-vm:
    http_server:
      hosts:
        my-vm:
    model_trainer:
      hosts:
        localhost:
