- name: Run Model Trainer
  hosts: model_trainer
  become: yes

  tasks:
    - name: yum install stress-ng, git and python3.11
      yum:
        name: "{{ item }}"
        state: present
      with_items:
        - git
        - python3.11
        - python3.11-pip
        - stress-ng
    
    - name: Install Hatch
      ansible.builtin.shell: |
        export PATH=$PATH:/usr/local/bin
        pip3.11 install hatch

    - name: Verify Hatch Installation
      ansible.builtin.shell: |
        export PATH=$PATH:/usr/local/bin
        echo $PATH
        hatch --version

    - name: Clone Model Server
      ansible.builtin.git:
        repo: "{{ model_server_repo }}"
        dest: "{{ model_server_path }}"
        version: main
        force: yes

    - name: Clone Kepler
      ansible.builtin.git:
        repo: "{{ kepler_repo }}"
        dest: "{{ kepler_path }}"
        version: main
        force: yes

    - name: Train Models
      ansible.builtin.shell: |
        export PATH=$PATH:/usr/local/bin
        echo $PATH
        echo $DATAPATH
        mkdir -p "$DATAPATH"
        echo $MODEL_PATH
        mkdir -p "$MODEL_PATH"
        echo {{ model_export_path }}
        mkdir -p {{ model_export_path }}
        touch {{ model_export_path }}/train_logs.txt

        # Stress
        chmod +x {{ stress_test_script_path }}
        export START_TIME=$(date +%s)
        for i in {1..{{ stress_iterations }}}; do
          echo "Iteration: $i"
          {{ stress_test_script_path }}
        done 
        export END_TIME=$(date +%s)

        export INTERVAL=$((END_TIME - START_TIME))
        echo $INTERVAL

        echo "START TIME: ${START_TIME}" >> {{ model_export_path }}/train_logs.txt
        echo "END_TIME: ${END_TIME}" >> {{ model_export_path }}/train_logs.txt
        echo "LENGTH: ${INTERVAL}" >> {{ model_export_path }}/train_logs.txt
        echo >> {{ model_export_path }}/train_logs.txt
        cd {{ model_server_path }}

        # Collect
        echo -e "Query Prom Data\n" >> {{ model_export_path }}/train_logs.txt
        hatch run python cmd/main.py query \
          --benchmark $BENCHMARK \
          --server $PROM_URL \
          --output kepler_query \
          --interval $INTERVAL \
          --id $COLLECT_ID >> {{ model_export_path }}/train_logs.txt 2>&1

        # Train
        echo -e "Train Models\n" >> {{ model_export_path }}/train_logs.txt
        hatch run python cmd/main.py train \
          --pipeline-name $PIPELINE_NAME \
          --vm-train \
          --input kepler_query --id $COLLECT_ID >> {{ model_export_path }}/train_logs.txt 2>&1

        
        # Move to Models Directory

        mv $MODEL_PATH/$PIPELINE_NAME/rapl-sysfs/* {{ model_export_path }}
      
      environment:
        BENCHMARK: "{{ benchmark }}"
        PROM_URL: "{{ prom_url }}"
        COLLECT_ID: "{{ collect_id }}"
        DATAPATH: "{{ data_path }}"
        MODEL_PATH: "{{ model_path }}"
        PIPELINE_NAME: "{{ pipeline_name }}"