name: Training and Validation e2e with Isolated Servers

on:
  workflow_dispatch:
    inputs:
      target_models:
        description: 'Comma Separated List of Models to Train. Format: model_type/feature_type/trainer_name'
        required: false
        default: 'AbsPower/BPFOnly/SGDRegressorTrainer,AbsPower/BPFOnly/ExponentialRegressionTrainer,AbsPower/BPFOnly/LogarithmicRegressionTrainer'
permissions:
  pull-requests: write
  contents: write
  repository-projects: write
  packages: write

jobs:

  Train-models:
    uses: ./.github/workflows/equinix_metal_trainer.yml
    secrets: inherit
    
  Create-runner:
    name: "Create Runner"
    needs: Train-models
    uses: ./.github/workflows/create_equinix_runner.yml
    secrets: inherit

  Validate:
    name: "Validate"
    needs: Create-runner
    runs-on: self-hosted
    continue-on-error: true
    outputs:
      runner-name: ${{ runner.name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Setup Runner Action
        uses: ./.github/actions/setup-action

      - name: Download Models
        uses: actions/download-artifact@v3
        with:
          name: trained-equinix-models
          path: /tmp/trained-equinix-models
        
      - name: check trained equinix paths
        run: |
          ls -l /tmp
          ls -l /tmp/trained-equinix-models
          ls -l /tmp/trained-equinix-models/AbsPower
      
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Validation Playbooks
        run: |
          cd ${GITHUB_WORKSPACE}/ansible
          cp roles/kvm_vm/files/meta-data /tmp/meta-data
          cp cloud-init-script.sh /tmp/cloud-init-script.sh
          echo "Create VM"
          ansible-playbook -i inventory.yml kvm_playbook.yml
          echo "Install SSH tunnel"
          ansible-playbook ssh_tunnel_playbook.yml
          echo "Install Prometheus"
          ansible-playbook -i inventory.yml metrics_playbook.yml
          echo "Install Kepler"
          ansible-playbook -i inventory.yml -vvv kepler_playbook.yml -e "target_host=localhost"
          echo "Create ssh tunnel"
          ansible-playbook -i inventory.yml ssh_tunnel_playbook.yml

          echo "Install Model Server"
          ansible-playbook -i inventory.yml -vvv model_server_playbook.yml
          
          echo "Pass Trained Models to VM"
          ansible-playbook -i inventory.yml -v deploy_http_model_server.yml
          
          target_models_list="${{ github.event.inputs.target_models }}"
          IFS=',' read -r -a models <<< "$target_models_list"
          for model in "${models[@]}"
          do
            echo "Running Model Server Playbook: $model"
            model_url="http://localhost:8080/${model}_-1.zip"
            echo "Model exists with sufficient accuracy: $model_url"
            ansible-playbook -i inventory.yml -vvv model_server_restart.yml \
              -e "node_components_init_url=$model_url"
            echo "Run validation test"
            ansible-playbook -vvv kepler_validator.yml
            echo "Validation Finished"

            FILE="/tmp/validator-*/report-*.md"
            mkdir -p /tmp/reports/${model}
            mv $FILE /tmp/reports/${model}
          done

          export DATE_STR=$(date +%Y-%m-%d_%H-%M-%S)
          cd ${GITHUB_WORKSPACE}
          mkdir -p docs/train-validate-e2e-isolated/${DATE_STR}
          mv /tmp/reports/* docs/train-validate-e2e-isolated/${DATE_STR}

          git config user.email "dependabot[bot]@users.noreply.github.com"
          git config user.name "dependabot[bot]"
          git add docs/*
          git commit -m "Add train-validate-e2e isolated servers for ${DATE_STR}" -s
          git push
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  Cleanup:
    name: "Cleanup"
    needs: [Validate]
    uses: ./.github/workflows/clean_equinix_runner.yml
    secrets: inherit
    with:
      runner_name: ${{ needs.Validate.outputs.runner-name }}